<header>
  <nav class="navbar nav-bg-bule-gray navbar-light navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="navbar-item" [routerLinkActive]="'bg-light'">
        <a class="nav-link m-2 text-light" [routerLinkActive]="'text-dark'"
        [routerLink]="['/flight-plan']">Flight Plan</a>
      </li>
      <li class="navbar-item" [routerLinkActive]="'bg-light'">
        <a class="nav-link m-2 text-light" [routerLinkActive]="'text-dark'"
        [routerLink]="['/billing']">Billing</a>
      </li>
      <li class="navbar-item" [routerLinkActive]="'bg-light'">
        <a class="nav-link m-2 text-light" [routerLinkActive]="'text-dark'"
        [routerLink]="['/setting']">Setting</a>
      </li>
      <li class="navbar-item" [routerLinkActive]="'bg-light'">
        <a class="nav-link m-2 text-light" [routerLinkActive]="'text-dark'"
        [routerLink]="['/help']">Help</a>
      </li>
    </ul>
  </nav>
</header>
