<div class="container mt-3  p-1">
  <table *ngIf="appService.mission" class="table table-bordered">
      <tbody>
        <tr> 
          <td>Mission name</td>
          <td colspan="2">Otto</td>
        </tr>
        <tr>
          <td>Charging rate</td>
          <td>{{appService.chargingRateAmount}} ฿</td>
          <td>/ {{appService.getAreaUnitNameBySelected(appService.selectedChargingRateAreaUnit)}}</td>
        </tr>
        <tr>
          <td>Total (Area,Amount)</td>
          <td>{{appService.convertAreaUnitValueBySelected(appService.selectedReportAreaUnit)}} {{appService.getAreaUnitNameBySelected(appService.selectedReportAreaUnit)}}</td>
          <td>{{appService.convertAreaUnitValueBySelected(appService.selectedChargingRateAreaUnit)*appService.chargingRateAmount}} ฿</td>
        </tr>
      </tbody>
    </table>
</div>
