<div class="container">
  <div class="col-md-10 col-md-offset-2 m-auto">
    <app-header></app-header>
    <div class="container">
      <div class="row" >
        <div class="col-xl-3 col-md-3 col-sm-12 left-panel">
          <div class="row" style="height: 30rem;">
            <div *ngIf="appService.mission" class="col" >
              <div class="col left-panel-row mb-3 mt-4 ml-2">
                <h4>{{appService.mission.missionName}}</h4>
              </div> 
              <hr style="background-color:white;height: 0.2rem">
              <div class="col left-panel-row ml-2">
                <p class="p">Time: {{appService.mission.time}}</p>
                <p class="p">Drone: {{appService.mission.drone}}</p>
                <p class="p">Distance: {{appService.convertDistanceUnitValueBySelected(appService.selectedDistanceUnit)}} {{appService.getDistanceUnitNameBySelected(appService.selectedDistanceUnit)}}</p>
                <p class="p">Altitude: {{appService.mission.altitude}} m</p>
                <p class="p">Area: {{appService.convertAreaUnitValueBySelected(appService.selectedAreaUnit)}} {{appService.getAreaUnitNameBySelected(appService.selectedAreaUnit)}}</p>
                <p class="p">Group Area: {{appService.convertGroupAreaUnitValueBySelected(appService.selectedGroupAreaUnit)}} {{appService.getAreaUnitNameBySelected(appService.selectedGroupAreaUnit)}}</p>
              </div>
            </div>
          </div>
          
          <div class="row" style="line-height: 5rem;">
            <div class=" mx-auto">
              <button class="btn btn-outline-light " (click)="createMissionModal(content)">Create Mission</button>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-9 col-sm-12" style="text-align:center">
          <router-outlet></router-outlet>
        </div>
      </div>
      
    </div>
    
    <ng-template #content let-modal="close">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-create-mission">Create Mission</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(myForm);modal('Save click')" #myForm="ngForm">
          <div class="form-group">
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto"> 
                    <label for="missionName">Mission Name :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="text" id="missionName" name="missionName" [ngModel] require class="form-control" />
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="time">Time :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="text" id="time" name="time" [ngModel] require class="form-control" />
              </div>
            </div> 
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="drone">Drone :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="text" id="drone" name="drone" [ngModel] require class="form-control" />  
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="distance">Distance(m) :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="number" id="distance" name="distance" [ngModel] require class="form-control" />  
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="altitude">Altitude :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="number" id="altitude" name="altitude" [ngModel] require class="form-control" />  
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="area">Area(sq.m) :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="number" id="area" name="area" [ngModel] require class="form-control" />  
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-xl-4 col-md-4 col-sm-12">
                <div class="row">
                  <div class="ml-auto">
                    <label for="groupArea">Group Area(sq.m) :</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-8 col-sm-12">
                <input type="number" id="groupArea" name="groupArea" [ngModel] require class="form-control" />  
              </div>
            </div>
          </div>
          <button class="btn  btn-outline-dark btn-sm modal-footer mx-auto" 
            type="submit">Save</button>
        </form>
      </div>
    </ng-template>
  </div>
</div>


