<div class="container form-group mt-3  card card-query p-2">
  <div class="row">
    <div class="container p-3">
      <div class="row mt-2">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-measurement-system">Measurement System :</label>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
          <select class="form-control" id="select-measurement-system" [(ngModel)]="appService.selectedMeasurementSystem" (ngModelChange)="appService.resetSettingSelected()">
          <option *ngFor="let measurementSystem of appService.measurementSystemlist.slice(); let row=index" [ngValue]="row">{{measurementSystem.measurementSystemName}}</option>
        </select>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="container p-3">
      <div class="row mb-1">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-unit-distance">Flight Distance Unit :</label>
            </div>
          </div>        
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <select class="form-control" id="select-unit-distance" [(ngModel)]="appService.selectedDistanceUnit">
            <option *ngFor="let distanceUnit of getDistanceUnits(); let row=index" [ngValue]="row">{{distanceUnit.unitName}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-unit-area">Total Area Unit :</label>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <select class="form-control" id="select-unit-area" [(ngModel)]="appService.selectedAreaUnit">
            <option *ngFor="let areaUnit of getAreaUnit(); let row=index" [ngValue]="row">{{areaUnit.unitName}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-unit-area">Group Area Unit :</label>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <select class="form-control" id="select-unit-area" [(ngModel)]="appService.selectedGroupAreaUnit">
            <option *ngFor="let areaUnit of getAreaUnit(); let row=index" [ngValue]="row">{{areaUnit.unitName}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-charging-rate-unit-area">Charging Rate(฿/Unit):</label>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-12" style="display: flex;flex-direction: row;padding-right: 0px">
          <input type="number" placeholder="amount" [(ngModel)]="appService.chargingRateAmount" class="form-control" />&nbsp;/
        </div>
        <div class="col-xl-3 col-md-3 col-sm-12">
          <select class="form-control" id="select-charging-rate-unit-area" [(ngModel)]="appService.selectedChargingRateAreaUnit">
            <option *ngFor="let areaUnit of getAreaUnit(); let row=index" [ngValue]="row">{{areaUnit.unitName}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="ml-auto">
              <label for="select-report-unit-area">Invoice Report Unit :</label>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <select class="form-control" id="select-report-unit-area" [(ngModel)]="appService.selectedReportAreaUnit">
            <option *ngFor="let areaUnit of getAreaUnit(); let row=index" [ngValue]="row">{{areaUnit.unitName}}</option>
          </select>
        </div>
      </div>
    </div>
  </div> 
  <hr>
  <div class="row">
    <div class="mx-auto">
      <button class="btn  btn-outline-dark btn-sm" style="width: 12rem;" (click)="addUnit(addDistanceUnitContent)">Add Distance Units</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="mx-auto">
      <button class="btn  btn-outline-dark btn-sm" style="width: 12rem;" (click)="addUnit(addAreaUnitContent)">Add Area Units</button>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="mx-auto">
      <button class="btn  btn-outline-dark btn-sm" style="width: 12rem;" (click)="addMeasurmentSystem(addMeasurmentSystemContent)">Add Measurement Systems</button>
    </div>
  </div>
</div>

<ng-template #addDistanceUnitContent let-modal="close">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-unit">Add Unit Distance</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onAddDistanceUnitSubmit(AddUnitmyForm);modal('Save click')" #AddUnitmyForm="ngForm">
        <div class="form-group">
          <div class="row mb-1">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <label for="newUnitName">Unit Name :</label>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12">
              <input type="text" id="newUnitName" name="newUnitName" [(ngModel)]="appService.newUnitName" require class="form-control" />
            </div>
          </div>
          <div *ngIf="appService.newUnitName" class="row my-2">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <div class="row">
                <div class="ml-auto">
                  <label for="newUnitMetreValue">1 {{appService.newUnitName}} = </label>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-12">
              <input type="number" id="newUnitMetreValue" name="newUnitMetreValue" [ngModel] require class="form-control" />
            </div>m
          </div> 
        </div>
        <button class="btn btn-outline-dark btn-sm modal-footer mx-auto"
          type="submit">Save</button>
      </form>
    </div>
  </ng-template>

  <ng-template #addAreaUnitContent let-modal="close">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-unit">Add Unit Area</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onAddAreaUnitSubmit(AddUnitmyForm);modal('Save click')" #AddUnitmyForm="ngForm">
        <div class="form-group">
          <div class="row mb-1">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <label for="newUnitName">Unit Name :</label>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12">
              <input type="text" id="newUnitName" name="newUnitName" [(ngModel)]="appService.newUnitName" require class="form-control" />
            </div>
          </div>
          <div *ngIf="appService.newUnitName" class="row my-2">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <div class="row">
                <div class="ml-auto">
                  <label for="newUnitMetreValue">1 {{appService.newUnitName}} = </label>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-12">
              <input type="number" id="newUnitMetreValue" name="newUnitMetreValue" [ngModel] require class="form-control" />
            </div>sq.m
          </div> 
        </div>
        <button class="btn btn-outline-dark btn-sm modal-footer mx-auto"
          type="submit">Save</button>
      </form>
    </div>
  </ng-template>

  <ng-template #addMeasurmentSystemContent let-modal="close">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-measurement-system">Add Measurement System</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onAddMeasurmentSystemSubmit(addMeasurmentSystem);modal('Save click')" #addMeasurmentSystem="ngForm">
        <div class="form-group">
          <div class="row mb-1">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <label for="measurementSystemName">Measurement System Name :</label>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12">
              <input type="text" id="measurementSystemName" name="measurementSystemName" [ngModel] require class="form-control" />
            </div>
          </div>
        </div>
        <button class="btn  btn-outline-dark btn-sm modal-footer mx-auto"
          type="submit">Save</button>
      </form>
    </div>
  </ng-template>